.AccordionSection {
    display: flex;
}

.AppSection:nth-child(2) {
    background-color: #eff1f5;
}

.AccordionSection--content {
    margin-right: 20px;
}

.AccordionSection--text {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Accordion {
    color: black;
    font-size: 12px;
    display: inline-block;
    text-align: left;
    width: 365px;
}

.CardBody {
    text-align: left;
    max-width: 365px;
}

.NothingFound {
    color: white;
}

@media (max-width: 600px) {
    .App-logo {
        display: none;
    }

    .AccordionSection {
        display: flex;
        flex-direction: column-reverse;
    }   

    .AccordionSection--content {
        margin-right: 0;
    }

    .Accordion {
       width: 100%;
       max-width: 100%;
       margin-bottom: 20px;
    }
}